


.home{
  font-family:sans-serif;
  /*background-color:aqua;*/

  background-image:url("images/table.jpg");
   background-size: cover;
   text-align: center;
}

.folder{

  background-image:url("images/folder.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  margin-top: 100px;
}

nav,
.contact {
  background-color:aqua;
  padding: 20px;

  max-width: 700px;   
  margin: 40px auto; 
  border-radius: 12px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;

  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
}

.project {
  margin: 0;
  text-align: left;
}

.project img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 12px;
}

.project figcaption {
  margin-top: 10px;
}

.project h3 {
  margin: 8px 0 4px;
}

.project p {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}

.resume h1{
  font-size: 18pt;
}

.resume h2{
  font-size: 12pt;
}

.resume p, .resume ul, .resume span{
  font-size: 11pt;
}

.resume h2, hr,.resume h1, .resume p, .resume ul{
  margin-top: 0.5px;
  margin-bottom: 0.5px;
}

hr{
  background-color: black;
  border-color: black;
}

.school, .degree,.work,.title{
  display: flex;
  justify-content: space-between;
}

.uni, .course, .group, .resume-project, .skill-type{
  font-weight:bold;
}

.date {
  margin-left: auto;
  font-style: italic;
}

.date2{
  font-style: italic
}

.gpa, .location2{
  margin-left: auto;
}

.resume-page{
  background-color:grey;

}

.resume{

  background-color:white;
  
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 40px;
  padding-right: 50px;
  padding-left: 50px;
  width: 716px;
  height: 956px;
  h1, .centered-text{
    text-align: center;

  }
}


/* padding and width/heights needs to equal: 816/1056


