h1, h2, p,h3 {
  text-align: center;
}


body{
  font-family:sans-serif;
  /*background-color:aqua;*/

  background-image:url("images/table.jpg");
   background-size: cover;
}

.folder{

  background-image:url("images/folder.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  margin-top: 100px;
}

nav,
.contact {
  background-color:aqua;
  padding: 20px;

  max-width: 700px;   
  margin: 40px auto; 
  border-radius: 12px;
}
